<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<section class="hero is-warning is-fullheight">

    <br><h1 class="title is-1 has-text-centered">
        Message Details
    </h1><br>

    <br><div class="container is-fullhd">
        <div class="notification is-dark">
            <p class="image is-128x128">
                <img class="is-rounded" id="avatarPhoto" width="20" src="<%= message.avatar %>" alt="">
            </p><br>
            <h5 class="title is-6 has-text-white"><%= message.createdAt.toLocaleString() %> - Posted By: <%= message.postedBy %></h5>
            <br><h1 class="title is-4 has-text-white">
                <%= message.title %>
            </h1><br>
            <!-- <p class="image is-64x64">
                <img class="is-rounded" id="avatarPhoto" width="30" src="<%= message.avatar %>" alt="">
            </p> -->
            <form action="/messages/<%= message._id %>" method="POST">
            <div class="form-group">
                <input type="text" class="input is-rounded" aria-describedby="message" name="message" placeholder="Enter Reply..." required>
            </div><br>
            <button type="submit" class="button is-info is-outlined is-rounded">Reply</button>
            </form><br>
            <!-- <article class="media">
                <div class="media-right">
                <% message.replies.forEach(reply => { %>
                    
                    <h6 class="title is-6 has-text-info"><%= reply.message %> - <%= reply.postedBy %> <img class="is-rounded" id="avatarPhoto" width="25" src="<%= reply.avatar %>" alt=""></h6>
                    <% if (user.name === reply.postedBy){ %>
                            <form action="/messages/<%= message._id %>/<%= reply._id%>?_method=DELETE" class='delete-form' method="POST">
                                <button class="delete"></button>
                            </form><br>
                    <% } %> 
                    <% }) %>
                </div>
            </article><br><br> -->
            <% message.replies.forEach(reply => { %>
                <article class="message is-info">
                    <div class="message-header">
                        <p><%= reply.postedBy %> <img class="is-rounded" id="avatarPhoto" width="25" src="<%= reply.avatar %>"</img> </p>
                        <% if (user.name === reply.postedBy) { %>
                            <form action="/messages/<%= message.id %>/<%= reply._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button class="delete" aria-label="delete"></button>
                            </form>
                        <% } %> 
                    </div>
                    <div class="message-body">
                        <%= reply.message %> 
                    </div>
                </article>
            <% }) %>
            <br><a class="button is-danger is-outlined is-rounded" href="/messages">Go back</a>
        </div>
    </div><br><br><br>
</section>

<%- include('../partials/footer') %>