<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h1 class="title is-1 has-text-centered" ><%= title %> </h1>
<% beers.forEach((beer) => { %>
  <div class="container is-fullhd has-text-centered">
    <div class="notification is-warning">
      <img src="<%= beer.image_url %>" class="card-img-top" alt="..." width="30rem" >
      <tr class=""> Beer Name: <%= beer.name %></tr><br>
      <tr class=""> Tagline: <%= beer.tagline %></tr><br>  
      <a class="button is-dark is-outlined is-rounded" href="/beers/<%= beer.id %>">Beer Details</a>
    </div>
  </div><br>
<% }) %>

<%- include('../partials/footer') %>