<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h3>Beer Collection</h3>


    <% beers.forEach((beer) => { %>
      <div class="table is-bordered">
        <table class="" >
          <!-- <img src="<%= beer.image_url %>" class="card-img-top" alt="..."> -->
            
              <tr class=""> Beer Name: <%= beer.name %></tr><br>
              <tr class=""> Tagline: <%= beer.tagline %></tr><br>
              <!-- <h6 class="">Released: <%= beer.first_brewed %></h6><br> -->
              <a href="/beers/<%= beer.id %>">Beer Details</a>
        
        </table>
      </div>
    <% }) %>


<%- include('../partials/footer') %>