<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h3>Beer Collection</h3>

<% beers.forEach((beer) => { %>
  <div class="" style="width: 8rem;">
    <img src="<%= beer.image_url %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class=""> Beer Name: <%= beer.name %></h5><br>
      <h6 class=""> Tagline: <%= beer.tagline %></h6><br>
      <h6 class="">Released: <%= beer.first_brewed %></h6><br>
      <a href="/beers/<%= beer._id %>">Details</a>
    </div>
  </div>
<% }) %>

<%- include('../partials/footer') %>