<%- include('../partials/header') %> 
<%- include('../partials/nav') %> 

<section class="hero is-warning is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            <%= title %>
        </h1>
        <form action="/beers/search" method="POST">
            <div class="form-row">
              <div class="col-md-4">
                <input type="text" class="input is-rounded" name="query" placeholder="Go Search..." required>
              </div>
            </div><br>
            <button type="submit" class="button is-success is-outlined is-rounded">Search</button>
        </form>
      </div>
    </div>
</section>

<% if (results) { %>
    <% results.forEach(beer => { %>
    <div class="card">
        <div class="card-content">
        <div class="media">
            <div class="media-left">
            <figure class="image is-24x24">
            <img src="<%= beer.image_url %>" class="" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= beer.name %> </p>
          <p class="subtitle is-6"><%= beer.tagline %></p>
        </div>
    </div><br>
  
    <div class="content">
        Description: <%= beer.description %>
        <br>
        <p class="card-text">First Brewed: <%= beer.first_brewed %></p>
        <a href="/beers/<%= beer.id %>" class="button is-info is-outlined is-rounded">Details</a>
        </div>
        </div>
    </div>
    <% }) %>
<% } %>

<%- include('../partials/footer') %> 