<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h1> <%= title %> </h1>

<% beer.forEach(b => { %>
    <div>
        <img src="<%= b.image_url %>" class="" style="width: 10rem;" alt="...">
    </div>
    

<% }) %> 




<%- include('../partials/footer')  %>