<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h1> <%= title %> </h1>

<% beer.forEach(beer => { %>
    <div>
        <img src="<%= beer.image_url %>" class="" style="width: 10rem;" alt="...">
    </div>
    <% if (favoritedBy.some(u => {return u.email === user.email})) { %>
        <form action="/beers/<%= beer.id %>/collection?_method=DELETE" method="POST">
          <% } else { %>
        <form action="/beers/<%= beer.id %>/collection" method="POST">
      <% } %>
      <input type="text" hidden name="name" value="<%= beer.name %>">
      <input type="text" hidden name="tagline" value="<%= beer.tagline %>">
      <input type="date" hidden name="first_brewed" value="<%= beer.first_brewed %>">
      <input type="text" hidden name="image_url" value="<%= beer.image_url %>">
      <input type="number" hidden name="id" value="<%= beer.id %>">
      
      <button class=""><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
    </form>
    

<% }) %> 





<%- include('../partials/footer')  %>