<%- include('../partials/header') %>
<%- include('../partials/nav')  %>

<h1> <%= title %> </h1>

<% beers.forEach(beer => { %>
    <div class="card">
        <img src="<%= beer.image_url %>" class="" style="width: 10rem;" alt="..."><br>
        <label for="name"><%= beer.name %> </label><br>
        <label for="tagline"><%= beer.tagline %> </label><br>
        <label for="first_brewed">First Brewed: <%= beer.first_brewed %> </label>
    </div>
    
    <div>
        
        <% reviews.forEach(r => { %>
  
  <p><%= r.rating %> - <img width="20" id="avatarPhoto" src="<%= r.reviewerPhoto %>" alt=""> <%= r.reviewer %></p>
  <p><%= r.content %></p>
    <% }) %>
    <% if (!reviews.some(u => {return u.reviewer === user.name}) && favoritedBy.some(u => {return u.email === user.email})) { %>
    <form action="/beers/<%= beerId %>/reviews" method="POST">
        <div class="">
        <textarea class="form-control" name="content" style="width: 18rem;" id="exampleFormControlTextarea1" placeholder="Leave a Review" rows="3"></textarea>
        </div>
        <div class="form">
        <label for="exampleFormControlSelect1">Rating</label>
        <select style="width: 18rem;" class="form-control" name="rating" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <input type="text" hidden name="reviewer" value="<%= user.name %>">
        <input type="text" hidden name="reviewerPhoto" value="<%= user.avatar %>"> 
        <button class="btn btn-info">Submit</button>
    </form>
    <% } %>
    </div>
    
    <% if (favoritedBy.some(u => {return u.email === user.email})) { %>
        <form action="/beers/<%= beer.id %>/collection?_method=DELETE" method="POST">
          <% } else { %>
        <form action="/beers/<%= beer.id %>/collection" method="POST">
      <% } %>
      <input type="text" hidden name="image_url" value="<%= beer.image_url %>">
      <input type="text" hidden name="name" value="<%= beer.name %>">
      <input type="text" hidden name="tagline" value="<%= beer.tagline %>">
      <input type="date" hidden name="first_brewed" value="<%= beer.first_brewed %>">
      <input type="number" hidden name="id" value="<%= beer.id %>">
      <button type="submit" class="btn btn-warning"><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
    </form>
<% }) %> 

<a href="/beers/new">Go back</a>


<%- include('../partials/footer')  %>